@charset 'UTF-8';

@font-face {
  font-family: 'Bread-Coffee';
  src: url(fontes/Bread\ Coffee.otf) format(opentype);
  font-weight: normal;
  font-style: normal;
}

:root {
  --cor01: #faf8f3;
  --cor02: #eeddc9;
  --cor03: #eebe8e;
  --cor04: #f4963b;
  --cor05: #5a3618;
  --cor06: #301901;

  --font01: Arial, Helvetica, sans-serif;
  --font02: 'Bread-Coffee', serif;
}

* {
  margin: 0px;
  padding: 0px;
}

body {
  background-color: var(--cor02);
  font-family: var(--font01);
}

header {
  background-color: var(--cor01);
  color: white;
  padding: 10px;
  max-width: 100%;
  box-shadow: 4px 4px 7px rgba(0, 0, 0, 0.212);
}

header > img {
  display: block;
  max-width: 180px;
  margin: auto;
}

header a {
  text-decoration: none;
  margin: 5px;
}

#redes-sociais {
  padding-top: 10px;
  padding-bottom: 20px;
  text-align: center;
}

hr {
  width: 90px;
  margin: auto;
}

.logos {
  width: 20px;
}

#menu > a {
  color: var(--cor06);
  padding: 5px;
}

#menu > a:hover {
  color: var(--cor06);
  background-color: var(--cor03);
  padding: 5px;
  margin: 5px;
  border-radius: 5px;
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.281);
}

#menu > a:focus {
  color: var(--cor03);
  background-color: var(--cor05);
  padding: 5px;
  margin: 5px;
  border-radius: 5px;
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.281);
}

section#menu-servicos > h1 {
  font-size: 2em;
  margin: 30px 0px 10px 0px;
}

section#menu-servicos {
  margin: auto;
  text-align: center;
  max-width: 700px;
}

section#menu-servicos > div.destaques {
  display: inline-block;
  background-color: black;
  width: 150px;
  height: 200px;
  margin: 10px;
  border-radius: 20px;
}

.destaques > p {
  position: relative;
  background-color: #f4983b77;
  color: rgb(255, 255, 255);
  font-size: 1.2em;
  font-weight: bold;
  top: 80%;
  height: 30px;
  padding-top: 10px;
  text-shadow: 2px 2px 2px black;
  border-radius: 0px 0px 20px 20px;
}

#paes {
  background-image: url(imagens/destaques/pao.png);
}

#bolos {
  background-image: url(imagens/destaques/bolos.png);
}

#salgados {
  background-image: url(imagens/destaques/salgados.png);
}

#tortas {
  background-image: url(imagens/destaques/tortas.png);
}

#cafes {
  background-image: url(imagens/destaques/cafes.png);
}

#sanduiches {
  background-image: url(imagens/destaques/sanduiches.png);
}
