@charset 'UTF-8';

@font-face {
  font-family: 'Bread-Coffee';
  src: url(fontes/Bread\ Coffee.otf) format(opentype);
  font-weight: normal;
  font-style: normal;
}

:root {
  --cor01: #faf8f3;
  --cor02: #eeddc9;
  --cor03: #ea9949;
  --cor04: #f4963b;
  --cor05: #301901;

  --font01: Arial, Helvetica, sans-serif;
  --font02: 'Bread-Coffee', serif;
}

* {
  margin: 0px;
  padding: 0px;
}

body {
  background-color: var(--cor02);
  font-family: var(--font01);
}

header {
  background-color: var(--cor01);
  color: white;
  padding: 10px;
  max-width: 100%;
  box-shadow: 4px 4px 7px rgba(0, 0, 0, 0.212);
}

header > img {
  display: block;
  max-width: 180px;
  margin: auto;
}

header a {
  text-decoration: none;
  margin: 5px;
}

#redes-sociais {
  padding-top: 10px;
  padding-bottom: 20px;
  text-align: center;
}

#navegacao > a {
  color: ;
}

.logos {
  width: 20px;
}
